.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    padding: 20px;
  }
  .email-box {
      display: flex;
      flex-direction: column;
     
  }
  
  button{
    margin: 20px;
  }
  .pikir{
    display: flex;
    flex-direction: column;
  }